* {

    box-sizing: border-box;

}

body {

    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: #fcf4f7;

}

/* HEADER CONTENT */

/* #header-container,
#nav-container {

    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100px;

} */

.header-container {

    grid-area: header;

    width: 100%;
}

.nav-container {

    grid-area: navigation;

}

#fake-tab-container {

    grid-area: fake;

}

.main-container {

    grid-area: main;

}

.grid-container {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "fake"
        "main";
}



nav {

    margin: 0;
    background-color: #5488CF;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: auto;

}



.nav-icon {


    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);
    width: 35px;
}

#fake-tab-container {

    display: flex;


}

#dash {

    margin: 10px;
    padding: 10px;

}

#fake-tab {

    background-color: rgba(97, 149, 209, 0.2);
    border-left: 1px rgb(184, 204, 219) solid;
    border-bottom: 1px rgb(184, 204, 219) solid;
    border-bottom-left-radius: 2px;
    width: 100vw;

}



header {

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(97, 149, 209);
    color: white;

}

#logo,
#logo2 {

    margin: 0;
    font-size: 1.5em;
    padding-left: 5px;
    margin-top: -15px;

}

#logo2 {

    font-weight: 100;
    padding-left: 0;
}

#user-photo {

    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

#user-photo-container {

    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 10px;
    padding: 6px;

}

#noti-bell {

    margin-left: 20px;
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);



}

#user-name {

    font-size: 13px;

}

/* MAIN */


.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {


    width: 100%;
    height: fit-content;
    margin: 0;
    width: 100vw;

}

.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members {

    border-bottom: 2px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 10px;


}


#hour-btn,
#daily-btn,
#weekly-btn,
#monthly-btn {

    display: inline-block;
    padding-top: 5px;
    width: 20%;
    margin: 5px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

.active {

    color: white;
    background-color: rgb(111, 233, 148);
    font-weight: 700;

}

#traffic-header,
#daily-traffic-header,
#mobile-users-header,
#social-stats-header,
#new-members-header,
#recent-activity-header,
#message-user-header,
#settings-header {

    margin: 10px 0px -5px 0px;
    padding-left: 5px;
    width: 100%;
    height: 10%;
    font-size: 20px;


}

#daily-traffic-header {

    margin-bottom: 30px;

}

#traffic-chart-container {

    margin: auto 0;
    width: 100vw;
}

#mobile-users-container {

    width: 100vw;
    padding: 5px;


}

.social-container {

    width: 90%;
    height: fit-content;
    display: flex;
    background-color: rgba(211, 209, 209, 0.2);
    border: 1px rgba(170, 170, 170, 0.4) solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;

}

.svg-wrapper {

    background-color: #5488CF;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;


}

.social-icon {

    width: 50px;
    height: 50px;
    align-self: center;
    justify-self: center;
    filter: invert(1);
}

.social-title {

    color: #5488CF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
    width: 100%;



}

.social-stat {

    color: #5488CF;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.4);


}

.stat-wrapper {

    width: 60%;
    padding: 10px;


}

.new-members-wrapper,
.recent-activity-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 1px rgba(170, 170, 170, 0.4) solid;
    margin: 10px 5px;
    padding: 5px;
    width: 100%;
    height: auto;


}

.user-profile-photo {

    width: 30%;
    border-radius: 50%;
    align-self: center;
    margin: 3px;

}

.user-name,
.sign-up-date,
.activity-time {

    text-align: center;

}

.user-action,
.action-target {


    width: fit-content;
    align-self: center;
    overflow-wrap: break-word;

}

.action-target {

    font-weight: 700;

}

.user-email {

    color: #5488CF;
    text-align: center;
    margin: 2px;

}

.main-container {

    display: grid;


}

.message-form-wrapper {


    display: flex;
    align-content: center;
    justify-content: center;

    margin: 30px 0;

}

#message-user-btn {

    width: 100%;
    height: 55px;
    background-color: #5488CF;
    color: #fcf4f7;
    border-radius: 5px;
    border: none;

}

#search-user-name {

    outline: none;
    border: 1px rgba(141, 141, 142, 0.4) solid;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: #f1eeef;
    margin-bottom: 15px;
    margin-top: 15px;

}

#message-user-box {

    border: 1px rgba(141, 141, 142, 0.4) solid;
    width: 100%;
    background-color: #f1eeef;
    border-radius: 5px;
    margin-bottom: 15px;


}

input[type="search"]::placeholder,
textarea::placeholder {

    color: rgba(141, 141, 142, 0.6);

}

.settings-wrapper {

    display: flex;
    justify-content: flex-start;

    margin: 20px 0;
    padding: 10px;

}

.btn-wrapper {

    display: flex;
    justify-content: flex-end;

}

.toggle-btn {


    width: 100px;

}

#email-notif,
#profile-vis {

    flex-grow: 2;
    align-self: center;


}

.timezone-wrapper {

    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    margin-bottom: 20px;

}

#timezone {

    width: 85%;
    outline: none;
    border: 1px rgba(141, 141, 142, 0.4) solid;
    color: rgba(141, 141, 142, 0.4);
    height: 45px;
    border-radius: 10px;
    background-color: #f1eeef;


}

.setting-btn {

    width: 40%;
    margin: 5px 10px;
    height: 45px;
    outline: none;
    border: 1px rgba(141, 141, 142, 0.4) solid;
    color: #f1eeef;
    background-color: #5488CF;
    border-radius: 5px;

}

.setting-btn:hover,
#message-user-btn:hover {

    background-color: #4275bc;

}

.clear {

    background-color: #a4a2a3;

}

.clear:hover {

    background-color: #8a8688;

}

.settings-button-wrapper {

    display: flex;
    align-content: center;
    justify-content: center;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='dodgerblue' height='30' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 10px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

@media (min-width: 768px) {


    .grid-container {

        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation fake"
            "navigation main";
    }

    nav {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }


    .nav-icon {

        margin: 10px 0;
    }


    #fake-tab-container {

        width: calc(100vw - 55px);
        max-width: 100%;

    }

    .traffic-btn-bar {

        width: 50%;
        margin: 0 auto;


    }

    .main-container {

        grid-template-columns: 50%;

    }

    .traffic,
    .social-stats,
    .new-members,
    .recent-activity {
        grid-column: 1 / span 2;
    }

    .daily-traffic,
    .message-user,
    .settings {
        grid-column: 1 / span 1;
    }

    .mobile-users {
        grid-column: 2 / span 1;
    }

    .traffic,
    .daily-traffic,
    .mobile-users,
    .social-stats,
    .new-members,
    .recent-activity,
    .message-user,
    .settings {


        width: 100%;
        max-width: 100%;

    }

    .social-stats {

        width: 90vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }

    .social-container {

        width: 30%;



    }

    #traffic-chart-container {
        margin: 0 auto;
        padding: 30px;
        width: 80vw;
        max-width: 80%;
        height: fit-content;


    }

    #mobile-users-container {


        margin: 0 auto;
        padding: 0;
        width: 25vw;


    }

    #daily-traffic-chart-container {

        width: 40vw;
        margin: 22px auto;

    }


    .new-members,
    .recent-activity {

        width: 90%;

    }


    .new-members-wrapper {


        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 0;

    }

    .user-profile-photo {

        width: 50px;

    }

    .message-user,
    .settings {

        width: 100%;
        height: 100px;
        background-color: red;

    }


}