* {

    box-sizing: border-box;

}

body {

    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: #fcf4f7;

}

/* HEADER CONTENT */

#header-container,
#nav-container {

    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100px;

}

nav {

    margin: 0;
    background-color: #5488CF;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;

}

#nav-container {

    height: 60px;

}

.nav-icon {


    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);
    width: 35px;
}

header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: #6195D1;
    color: white;

}

#logo,
#logo2 {

    margin: 0;
    font-size: 1.5em;
    padding-left: 5px;
    margin-top: -15px;

}

#logo2 {

    font-weight: 100;
    padding-left: 0;
}

#user-photo {

    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

#user-photo-container {

    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 10px;
    padding: 6px;

}

#noti-bell {

    margin-left: 20px;
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);



}

#user-name {

    font-size: 13px;

}

/* MAIN */

.main-container {


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 0.5em 1em;

}

.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {


    width: 100%;
    height: 30vh;
    margin: 5px 0;
    background-color: #be5f82;

}