* {

    box-sizing: border-box;

}

body {

    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: #fcf4f7;

}

/* HEADER CONTENT */

#header-container,
#nav-container {

    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100px;

}

nav {

    margin: 0;
    background-color: #5488CF;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;

}

#nav-container {

    height: 60px;

}

.nav-icon {


    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);
    width: 35px;
}

#fake-tab-container {

    display: flex;

}

#dash {

    margin: 10px;
    padding: 10px;

}

#fake-tab {

    background-color: rgba(97, 149, 209, 0.2);
    border-left: 1px rgb(184, 204, 219) solid;
    border-bottom: 1px rgb(184, 204, 219) solid;
    border-bottom-left-radius: 2px;
    width: 100vw;

}

header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: rgb(97, 149, 209);
    color: white;

}

#logo,
#logo2 {

    margin: 0;
    font-size: 1.5em;
    padding-left: 5px;
    margin-top: -15px;

}

#logo2 {

    font-weight: 100;
    padding-left: 0;
}

#user-photo {

    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

#user-photo-container {

    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 10px;
    padding: 6px;

}

#noti-bell {

    margin-left: 20px;
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);



}

#user-name {

    font-size: 13px;

}

/* MAIN */

.main-container {


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em 1em;

}

.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {


    width: 100%;
    height: fit-content;
    margin: 0;

}

.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members {

    border-bottom: 2px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 10px;

}


#hour-btn,
#daily-btn,
#weekly-btn,
#monthly-btn {

    display: inline-block;
    padding-top: 5px;
    width: 20%;
    margin: 5px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

.active {

    color: white;
    background-color: rgb(111, 233, 148);
    font-weight: 700;

}

#traffic-header,
#daily-traffic-header,
#mobile-users-header,
#social-stats-header,
#new-members-header {

    margin: 10px 10px -5px 3px;
    width: 100%;
    height: 10%;
    font-size: 20px;


}

#daily-traffic-header {

    margin-bottom: 30px;

}

#traffic-chart-container {

    margin: auto 0;
    max-width: 500px;
}

#mobile-users-container {

    width: 100%;
    padding: 5px;


}

.social-container {

    width: 90%;
    display: flex;
    background-color: rgba(211, 209, 209, 0.2);
    border: 1px rgba(170, 170, 170, 0.4) solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;

}

.svg-wrapper {

    background-color: #5488CF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;

}

.social-icon {

    width: 50%;
    filter: invert(1);
}

.social-title {

    color: #5488CF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
    width: 100%;



}

.social-stat {

    color: #5488CF;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.4);


}

.stat-wrapper {

    width: 60%;
    padding: 10px;


}

.new-members-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 1px rgba(170, 170, 170, 0.4) solid;
    margin: 10px 5px;
    padding: 5px;
    width: 100%;
    height: auto;


}

.user-profile-photo {

    width: 30%;
    border-radius: 50%;
    align-self: center;
    margin: 3px;

}

.user-name,
.sign-up-date {

    text-align: center;

}

.user-email {

    color: #5488CF;
    text-align: center;
    margin: 2px;

}