* {

    box-sizing: border-box;

}

html {

    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito', sans-serif;

}

/* HEADER CONTENT */

#header-container {

    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100px;

}

header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #4A4E69;
    color: white;

}

#logo {

    margin: 0;
    font-size: 25px;
    padding-left: 5px;
    margin-top: -15px;

}

#user-photo {

    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

#noti-bell {

    margin-left: 20px;
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg) brightness(103%) contrast(101%);

}

#divider {

    margin-left: 5px;
    font-size: 50px;
    font-weight: lighter;

}

#user-name {

    padding-right: 5px;
    font-size: 15px;
    margin-left: 5px;

}